/* Estilos para el componente Hero */
.heroContainer {
    width: 95vw;
    height: 70vh;
    margin: 3rem auto 2rem auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px var(--shadow);
    border: 1px solid var(--borders);
    border-radius: 12px;
}

.heroProduct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroProduct.active {
    opacity: 1;
}

.heroContainer .heroProduct  .heroBack {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heroContainer .heroProduct .heroInfo {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: var(--white);
    z-index: 5;
}

.heroContainer .heroProduct .heroInfo .heroTitle {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.heroContainer .heroProduct .heroInfo .heroPrice {
    font-size: 2rem;
    margin-bottom: 12px;
}

.heroContainer .heroProduct .heroInfo .heroCart {
    justify-content: flex-start;
}

.heroContainer .heroProduct .heroInfo .heroCart .heroWishlist {
    width: 45px;
    height: 40px;
    padding: 8px 12px;
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--borders);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--shadow);
    transition: all 0.5s;
    margin-left: 20px;
}

.heroContainer .heroProduct .heroInfo .heroCart .heroWishlist img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heroContainer .heroProduct .heroInfo .heroCart .heroWishlist:hover {
    background: var(--borders);
    cursor: pointer;
}

.heroPlatforms {
    margin: 12px 0;
    justify-content: flex-start;
}

/* Estilos para el componente plataforms */
.platformList {
    gap: 40px;
    flex-wrap: wrap;
}

.platformList .platformLogos {
    width: 160px;
    height: 160px;
    margin-top: -40px;
}

.platformList .platformLogos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Estilos para el componente Productos */
.productosContainer {
    flex-direction: column;
    padding-bottom: 3rem;
}

.productosContainer .searchActions {
    margin: 3rem auto 5rem;
}

.productosContainer .searchActions .genre:hover {
    background: var(--white);
}

.productosContainer .productsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 0 3vw;
}

.productosContainer .productsList .product {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    border: 1px solid var(--borders);
    box-shadow: 0 0 8px var(--shadow);
    border-radius: 12px;
    overflow: hidden;
}

.productosContainer .productsList .product .productImgContainer {
    width: 100%;
    height: 60%;
    position: relative;
}

.productosContainer .productsList .product .productImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productosContainer .productsList .product .productImgContainer .heroPlatforms{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    color: var(--white);
}

.productosContainer .productsList .product .productInfo {
    padding: 30px;
}

.productosContainer .productsList .product .productInfo .productTitle {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.productosContainer .productsList .product .productInfo .productPrice {
    margin-top: 20px;
}

.productosContainer .productsList .product .productActions {
    padding: 0 30px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.productosContainer .productsList .product .productActions .wishlist {
    width: 45px;
    height: 40px;
    padding: 8px 12px;
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--borders);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--shadow);
    transition: all 0.5s;
    margin-left: 20px;
}

.productosContainer .productsList .product .productActions .wishlist img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.productosContainer .productsList .product .productActions .wishlist:hover {
    cursor: pointer;
    background: var(--borders);
  }
  
/* COnfigutacion laptop */
@media (max-width: 1300px) {
    .productosContainer .productsList {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Configuracion tablet */
@media (max-width: 900px) {
    .productosContainer .productsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Configuracion movil */
@media (max-width: 430px) {
    .productosContainer .productsList {
        grid-template-columns: repeat(1, 1fr);
    }
}
