/* Estilos Login, aprovechamos muchos de estilos registro para
ahorrar codigo */
.loginImg {
    width: 200px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}

/* Estilos mensaje error */
.error {
    color: darkred;
    font-size: 32px;
    margin: 2rem;
}

/* Configuracion Movil */
@media (max-width: 430px) {
    .loginImg {
        width: 100px;
        height: 100px;
    }
    
    .login h2 {
        font-size: 2rem;
    }
}
