/* Estilos Navbar */
.navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    background: var(--accent);
    padding: 1rem 0;
    justify-content: space-around;
    border-bottom: 1px solid var(--borders);
    box-shadow: 0 2px 5px var(--shadow);
    z-index: 10;
}

.navbar .logotipo {
    color: var(--white);
}

.navbar .userActions {
    width: 50%;
    gap: 2rem;
    justify-content: flex-end;
}

.navbar .userActions .cartCount {
    width: 20px;
    height: 20px;
    background: darkred;
    border-radius: 50%;
    color: var(--white);
    margin-left: 8px;
    font-size: 1rem;
}

/* Configuracion Tablet */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .logotipo {
        font-size: 3rem;
        margin: 2rem;
    }

    .navbar .userActions {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }
}

/* Configuracion Movil */
@media (max-width: 430px) {  
    .navbar .logotipo {
        font-size: 2rem;
    }

    .navbar .userActions {
        flex-wrap: wrap;
    }
}
