/* Estilos para el componente Mis Datos */
.profile {
    width: 97vw;
    min-height: 70vh;
    margin: 3rem auto;
    align-items: start;
}

.dataContainer {
    width: 30%;
    border: 1px solid var(--borders);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 0 8px var(--shadow);
    margin: 0 2rem;
}

.dataContainer .dataList {
    flex-direction: column;
    align-items: start;
    gap: 12px;
    min-height: 32vh;
}

.dataContainer .dataList .data {
    font-size: 1.3rem;
}

.dataContainer .dataList .btn {
    margin-top: 20px;
}

/* Estilos para el componente Historial */
.historyContainer {
    width: 30%;
    border: 1px solid var(--borders);
    border-radius: 12px;
    box-shadow: 0 0 8px var(--shadow);
    margin: 0 2rem;
    overflow: hidden;
}

.historyList {
    align-items: start;
    overflow-y: scroll;
    min-height: 46vh;
}

.historyList table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 20px; 
    text-align: center; 
}

tr:first-child {
    background: var(--accent); 
    color: var(--white);
}

/* Estilos para el componente lista de deseos */
.wishlistActions {
    justify-content: flex-start;
}

/* Form estilos */
.form {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: start;
}

.form .campo {
    gap: 1rem;
}

.form .campo input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}

.form .actions {
    gap: 20px;
    margin-top: 20px;
}