/* Estilos Navbar */
footer {
    width: 100vw;
    background: var(--accent);
    color: var(--white);
    padding: 3rem;
    justify-content: space-around;
}

footer .footerLogo {
    font-size: 1.5rem;
    font-family: 'titles';
    line-height: 3rem;
    margin-right: 50vw;
}

/* Configuracion Movil */
@media (max-width: 430px) {  
    footer .footerLogo {
        font-size: 2rem;
        margin-right: 20vw;
    }
}